<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Viewport</key>
	<dict>
		<key>UserScalable</key>
		<true/>
		<key>InitialScale</key>
		<integer>1</integer>
		<key>MinimumScale</key>
		<real>1</real>
		<key>MaximumScale</key>
		<integer>5</integer>
	</dict>
	<key>Navigation</key>
	<dict>
		<key>DocumentRoot</key>
		<string>www</string>
		<key>StartURL</key>
		<string>index.html</string>
		<key>GestureEnabled</key>
		<false/>
	</dict>
	<key>Content</key>
	<dict>
		<key>JavaScriptEnabled</key>
		<true/>
		<key>MinimumFontSize</key>
		<integer>0</integer>
		<key>SelectionGranularity</key>
		<string>Dynamic</string>
		<key>TouchCalloutEnabled</key>
		<true/>
	</dict>
	<key>MediaPlayback</key>
	<dict>
		<key>AirPlayEnabled</key>
		<true/>
		<key>Autoplay</key>
		<false/>
		<key>Fullscreen</key>
		<true/>
	</dict>
	<key>StatusBar</key>
	<dict>
		<key>Animation</key>
		<string>Fade</string>
		<key>Style</key>
		<string>Dark</string>
		<key>Hidden</key>
		<false/>
	</dict>
	<key>Scroll</key>
	<dict>
		<key>Bouncy</key>
		<true/>
		<key>Enabled</key>
		<true/>
		<key>DecelerationRate</key>
		<string>Normal</string>
		<key>DirectionalLock</key>
		<false/>
		<key>ScrollsToTop</key>
		<true/>
		<key>IndicatorStyle</key>
		<string>Default</string>
		<key>ShowsHorizontalIndicator</key>
		<true/>
		<key>ShowsVerticalIndicator</key>
		<true/>
	</dict>
	<key>Plugins</key>
	<dict>
		<key>SearchPath</key>
		<string></string>
		<key>!Hello@shell.xwebview.org</key>
		<string>window.hello|xxx?</string>
	</dict>
</dict>
</plist>
